accelerate==0.20.0
alpaca_eval==0.2.8
apex==0.9.10dev
bitsandbytes==0.42.0
datasets==2.13.1
einops==0.7.0
fire==0.5.0
flash_attn==2.4.2
huggingface_hub==0.20.2
ipdb==0.13.13
ml_swissknife==0.1.29
numpy==1.25.0
openai==0.27.8
pandas==2.0.2
pytest==7.4.4
setuptools==68.2.2
torch==2.0.1
tqdm==4.65.0
transformers==4.29.2
