matplotlib
datasets
einops
nltk
accelerate>=0.18.0
tabulate
transformers==4.29.2
ipdb
statsmodels
tiktoken>=0.3.2
markdown
scikit-learn
sentencepiece
pandas
wandb
torch==1.13.1
fire
openai
alpaca_eval>=0.2.8
flash_attn==v2.0.6
# apex version installed is in readme